body {
    margin: 0;
    padding: 0;
    background-color:hsl(212, 45%, 89%);
    width: 1440px;
    }
.wrapper {
    width: 375px;
    margin:0 auto;
    margin-top: 20vh;
    padding:120px;
    }
    .card {
       background-color: hsl(0, 0%, 100%);
       border : 1px solid #bacdd8;
       padding: 20px;
       border-radius: 15px;
       align-items: center;
    }
    .card_info{
        font-family:url(https://fonts.google.com/specimen/Outfit);
        font-Weight: 700px ;
        text-align: center;
    }
    img {
        border-radius: 12px;
        width: 100%;
        height: 350px;
        object-fit:cove
    }
    p {
        font-size: 15px;
        font-weight: 400px,700px;
    }
